<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag "profile.jpeg" %>
  </div>

  <div id="content">
    <h1>hello! i'm justin hall</h1>
    <p>welcome to my blog</p>
    <p>i am an aspiring web developer, husband, and student; a lover of good food, new technologies, and small kittens.</p>
    <p>i invite you to follow along as i learn more programming skills; if you would like to do so you can find me on twitter <a href="http://twitter.com/TheLitaGator">@thelitagator</a> or follow my blog here!</p>
  </div>
</div>